.form {
    .container {
        max-width: 700px;
        .swiper-block {
            background-color: #f3f3f3; // temp
            padding: 0 0 2em 0;

            .swiper {
                min-height: 10em;
                .swiper-wrapper {
                    height: inherit;
                    .swiper-slide {
                        height: inherit;
                        padding: 4em 3em;

                        .slide-inner {
                            height: inherit;

                            .questions {
                                margin: 0 0 5em 0;
                                width: 100%;

                                .question {
                                    width: 100%;
                                    text-align: center;
                                    font-size: 2.4em;
                                    margin-bottom: 2em;
                                }
                                .answers {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    .answer-variant {
                                        width: 10em;
                                        text-align: center;
                                        .answer-point {
                                            margin-right: 0.5em;
                                        }
                                        .answer-text {
                                            font-size: 2.4em;
                                        }
                                    }
                                }
                            }

                            .controls {
                                text-align: center;
                                .btn {
                                    display: inline-block;
                                    padding: 0.6em 2.4em;
                                    margin: 0 auto;
                                    border-radius: 0.5em;
                                    font-weight: bold;
                                    cursor: pointer;
                                    border: none;
                                    transition: all 0.3s linear;

                                    span {
                                        font-size: 1.8em;
                                    }
                                }
                                .btn--green {
                                    color: $white;
                                    background-color: $green;

                                    &:hover {
                                        background-color: $greenDark;
                                    }
                                    &:active {
                                        background-color: $black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .swiper-scrollbar {
            }
            .swiper-pagination {
                font-size: 2em;
                position: relative;
            }
        }
    }
}
